.cards-area-container {
  height: 47rem;
  width: 25rem;
  background-color: #d9ab73;
  margin: 10px auto;
  border-radius: 1rem;
  display: grid;
  grid-template-rows: 10% 90%;
  grid-template-areas: "top" "bottom";
  overflow: hidden;
}

.language-title {
  grid-area: top;
  text-align: center;
  color: white;

  font-size: 2.4rem;
  margin-top: 1rem;
}

.cards-container {
  grid-area: bottom;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
